/node_modules
/dist
/documentation
/coverage

# Log Files
*.log

# Pack File
*.tgz

# VS Code
.vscode/*

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

/.angular

# Environment files
/src/environments/environment.ts
/src/environments/environment.prod.ts